h3 {
    background-color: blue;
    font-weight: bolder;
    margin-right: 200px;
}

h1 {
    background-color: aquamarine;
    font-weight: bold;
    margin-right: 200px;
}

h2{
    margin-top: 327px;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: 375px;
}

img {
    border-color: black;
    border-radius: 30px;
    padding: 4px;
    width: 300px;
    height: 300px;
}

#dontPush {
    padding: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    box-shadow: 0 0 10px black;
    transform: scale(1,1);
    justify-content: center;
    display: flex;
    position: fixed;
}

#mountain {
    background-color: black;
    margin-left: 150px;
    position: fixed;
    margin-top: 20px;
}

#mountainTwo {
    background-color: black;
    margin-left: 550px;
    position: fixed;
    margin-top: 20px;
}