h3 {
    background-color: lightgray;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
}

h1 {
    background-color: aquamarine;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
}

h2{
    justify-content: center;
    display: flex;
}

img {
    border-color: black;
    border-radius: 30px;
    padding: 4px;
    width: 300px;
    height: 300px;
}

#dontPush {
    padding: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    box-shadow: 0 0 10px black;
    transform: scale(1,1);
    position: relative;
}

#mountain {
    background-color: black;
    position: fixed;
    margin-top: 40px;
    display: inline;
    position: fixed;
}

#mountainTwo {
    background-color: black;
    margin-top: 40px;
    display: flex;
    margin-left: 320px;
    position: fixed;
}

#mountainThree {
    background-color: black;
    margin-top: 40px;
    display: flex;
    margin-left: 643px;
    position: fixed;
}

#cart {
    position: fixed;
    margin-top: 350px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#cartTwo {
    position: fixed;
    margin-top: 350px;
    margin-left: 330px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#cartThree {
    position: fixed;
    margin-top: 350px;
    margin-left: 657px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: lightcyan;
}